{% extends 'portfolio/layout.html' %}
{% load static %}

{% block title %}
Контакты
{% endblock %}

{% block content %}
    <div class="container text-center">
  <div class="row">
    <div class="col">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Введите свое имя" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Введите свое имя</label>
        </div>
            <div class="form-floating">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
            </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Введите Ваше сообщение" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Введите Ваше сообщение</label>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Отправить сообщение">
        </div>
            
    </div>
  </div>
</div>


<p>Контакты</p>
{% endblock %}